# Time limit is 10 minutes
GlobalTimeLimit = 600 

# Maximum number of nodes in the branch-and-bound tree
MaxNbOfBBtreeNodeTreated = 1000

# strong branching is used
StrongBranchingPhaseOne = false 20 1.0 0
StrongBranchingPhaseTwo = true 3 1.0

# diving heuristic is called at every node up to depth five
DivingHeurUseDepthLimit = 5
CallFrequencyOfDivingHeur = 1
